
@{
    ViewBag.Title = "Projelerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="portfolio" class="portfolio section-space-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Projelerim</h2>
                    <div class="divider dark">
                        <i class="icon-picture"></i>
                    </div>
                    <p>Bu zamana kadar yapmış olduğum işlerin listesi</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <ul class="portfolio">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter=".apps">apps</li>
                    <li class="filter" data-filter=".mockups">mockups</li>
                    <li class="filter" data-filter=".wordpress">wordpress</li>
                </ul>
            </div>

            <div class="col-md-10">
                <div class="portfolio-inner margin-top-30">


                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                        <div class="item">
                            <a href="/Content/images/portfolio/7.jpg" class="portfolio-popup" title="Project Title">
                                <img src="/Content/images/portfolio/7.jpg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 mix mockups">
                        <div class="item">
                            <a href="/Content/images/portfolio/8.jpg" class="portfolio-popup" title="Project Title">
                                <img src="/Content/images/portfolio/8.jpg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                        <div class="item">
                            <a href="/Content/images/portfolio/9.jpg" class="portfolio-popup" title="Project Title">
                                <img src="/Content/images/portfolio/9.jpg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 mix mockups wordpress">
                        <div class="item">
                            <a href="/Content/images/portfolio/10.jpg" class="portfolio-popup" title="Project Title">
                                <img src="/Content/images/portfolio/10.jpg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 mix wordpress apps">
                        <div class="item">
                            <a href="/Content/images/portfolio/11.jpg" class="portfolio-popup" title="Project Title">
                                <img src="/Content/images/portfolio/11.jpg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps mockups wordpress" title="Project Title">
                        <div class="item">
                            <a href="/Content/images/portfolio/13.jpg" class="portfolio-popup">
                                <img src="/Content/images/portfolio/13.jpg" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

   
</section>