
@{
    ViewBag.Title = "Hakkımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="about section-space-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Hakkımda</h2>
                    <div class="divider dark">
                        <i class="icon-emotsmile"></i>
                    </div>
                    <p>Kendim ile ilgili kısa bir bilgilendirme</p>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-12">
                <div class="about-me-text margin-top-50">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat facilisis dignissim. Etiam scelerisque ultricies euismod. Etiam pellentesque enim ac risus dapibus consequat. Nulla euismod lacinia felis, vel <a href="#" data-toggle="modal" data-target="#skillmodal" title="My Skills"><b>Check out my Skills</b></a> massa accumsan sit amet. Cras id fermentum neque. Curabitur et mollis neque. Fusce eu mattis arcu. Integer eget augue sit amet lorem convallis fermentum, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat facilisis dignissim. Etiam scelerisque ultricies euismod. Etiam pellentesque enim ac risus dapibus consequat.</p>
                </div>
            </div>

            

        </div>
    </div>
</section>

