
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<section id="contact" class="section-space-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>İletişim</h2>
                    <div class="divider dark">
                        <i class="icon-envelope-open"></i>
                    </div>
                    <p>İletişim Sayfamız</p>
                </div>
            </div>
        </div>


        <div class="margin-top-30 margin-bottom-50">
            <div class="row">

                <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="contact-us-detail"><a href="mailto:yilmazsalihcan@hotmail.com">yilmazsalihcan@hotmail.com</a></div>
                        <form class="contact-us pattern-bg">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="name" class="form-control" placeholder="Adınız">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" placeholder="Mail Adresiniz">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="textarea-message form-group">
                                    <textarea id="message" class="textarea-message form-control" placeholder="Mesajınız" rows="5"></textarea>
                                </div>
                            </div>


                            <div class="text-center">
                                <button type="submit" class="button button-style button-style-dark button-style-color-2">Gönder</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

   

