
@{
    ViewBag.Title = "KullaniciEkle";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="col-md-12">
    <div class="block">
        <div class="block-heading">
            <div class="main-text h2">
                Kullanıcı Ekleme Sayfası
            </div>
            <div class="block-controls">
                <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
            </div>
        </div>
        <div class="block-content-outer">
            <div class="block-content-inner">
                <form id="hidingSuccessForm" method="post" action="/Admin/BlogEkle">
                    <div class="form-group">
                        <label>Adı:</label>
                        <input type="text" class="form-control" name="Name" />
                    </div>
                    <div class="form-group">
                        <label>Kullanıcı Adı:</label>
                        <input type="text" class="form-control" name="Username" />
                    </div>
                    <div class="form-group">
                        <label>Şifresi:</label>
                        <input type="password" class="form-control" name="Password" />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Kullanıcı Ekle" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

