
@{
    ViewBag.Title = "Ekibim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="testimonials" class="testimonial-section section-space-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>EKİP ARKADAŞLARIM</h2>
                    <div class="divider dark">
                        <i class="icon-speech"></i>
                    </div>
                    <p>Kaliteli bir ekip ile başarıya giden yol</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
                <div class="testimonial-carousel-list margin-top-20">

                    <div class="testimonial-word text-center">
                        <img src="/Content/images/testimonial/1.jpg" class="img-responsive" alt="">
                        <h2>Zeliha GÖZE</h2>
                        <p>Yazılım Uzmanı</p>
                    </div>

                    <div class="testimonial-word text-center">
                        <img src="/Content/images/testimonial/2.jpg" class="img-responsive" alt="">
                        <h2>Burak ÇİFTCİ</h2>
                        <p>Yazılım Uzmanı</p>
                    </div>

                    <div class="testimonial-word text-center">
                        <img src="/Content/images/testimonial/3.jpg" class="img-responsive" alt="">
                        <h2>Salih Can YILMAZ</h2>
                        <p>Bilgisayar Mühendisi</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="statistics-section section-space-padding bg-cover text-center">
    <div class="container">

        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="statistics bg-color-1">
                    <div class="statistics-icon">
                        <i class="icon-mustache"></i>
                    </div>
                    <div class="statistics-content">
                        <h5><span data-count="3" class="statistics-count">3</span></h5><span>Proje Tamamlandı</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="statistics bg-color-6">
                    <div class="statistics-icon">
                        <i class="icon-emotsmile"></i>
                    </div>
                    <div class="statistics-content">
                        <h5> <span data-count="3" class="statistics-count">3</span></h5><span>Kullanıcı Mutlu</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="statistics bg-color-4">
                    <div class="statistics-icon">
                        <i class="icon-hourglass"></i>
                    </div>
                    <div class="statistics-content">
                        <h5><span data-count="500" class="statistics-count">500</span></h5><span>Saat Çalışma</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="statistics bg-color-5">
                    <div class="statistics-icon">
                        <i class="icon-cup"></i>
                    </div>
                    <div class="statistics-content">
                        <h5><span data-count="2000" class="statistics-count">2000</span></h5><span>Adet Kahve Tüketimi</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>