
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="home-section">
    <div class="container">
        <div class="row">

            <div class="col-sm-offset-2 col-md-4 col-sm-6 margin-left-setting">
                <div class="margin-top-150">

                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>İsim</td>
                                <td>Salih Can YILMAZ</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>yilmazsalihcan@hotmail.com</td>
                            </tr>
                            <tr>
                                <td>Deneyim</td>
                                <td>3 Yıl</td>
                            </tr>
                            <tr>
                                <td>İletişim</td>
                                <td>05386679352</td>
                            </tr>
                            <tr>
                                <td>CV</td>
                                <td style="background-color: #f7639a;"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Check Out My Resume">CV.pdf</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-6">
                <div class="me-image">
                    <img src="/Content/images/bg/profile.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Deneyimlerim</h2>
                    <div class="divider dark">
                        <i class="icon-graduation"></i>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="experience">

                    <div class="experience-item">
                        <div class="experience-circle">
                            <i class="icon-graduation"></i>
                            <p>8, Nov 2016</p>
                        </div>
                        <div class="experience-content experience-color-blue">
                            <h4>ASP.NET MVC</h4>
                            <h6>Pixel Akademi</h6>
                            <p>ASP.NET MVC ile kaliteli websiteleri</p>
                        </div>
                    </div>

                    <div class="experience-item">
                        <div class="experience-circle">
                            <i class="icon-trophy"></i>
                            <p>8, Nov 2016</p>
                        </div>
                        <div class="experience-content experience-color-blue">
                            <h4>C# Programlama Dili</h4>
                            <h6>C# Form Uygulamaları</h6>
                            <p>C# Programlama dili ile kaliteli uygulamalar</p>
                        </div>
                    </div>

                    <div class="experience-item">
                        <div class="experience-circle">
                            <i class="icon-book-open"></i>
                            <p>8, Nov 2016</p>
                        </div>
                        <div class="experience-content experience-color-blue">
                            <h4>Eğitim Durumum</h4>
                            <h6>Süleyman Demirel Üniversitesi</h6>
                            <p>Bilgisayar Mühendisliği</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="experience">

                    <div class="experience-item">
                        <div class="experience-circle experience-company">
                            <i class="icon-energy"></i>
                        </div>
                        <div class="experience-content">
                            <h4>DevBlog System PVT. LTD.</h4>
                            <h6>Currently Working, SEO Executive</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend risus sed feugiat faucibus.</p>
                        </div>
                    </div>

                    <div class="experience-item">
                        <div class="experience-circle experience-company  ">
                            <i class="icon-ghost"></i>
                        </div>
                        <div class="experience-content">
                            <h4>Rolling System PVT. LTD.</h4>
                            <h6>2008-2015, Senior Developer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend risus sed feugiat faucibus.</p>
                        </div>
                    </div>

                    <div class="experience-item">
                        <div class="experience-circle experience-company">
                            <i class="icon-compass"></i>
                        </div>
                        <div class="experience-content">
                            <h4>WebRec System PVT. LTD.</h4>
                            <h6>2005-2007, Senior Designer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend risus sed feugiat faucibus.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>



